APP_ENV=development
POSTGRES_DB=orquestacion
POSTGRES_USER=orquestacion
POSTGRES_PASSWORD=replace-with-local-database-password
POSTGRES_PORT=5432
BACKEND_PORT=8000
KIOSK_FRONTEND_PORT=3000
STAFF_FRONTEND_PORT=3001
KIOSK_FRONTEND_ORIGIN=http://localhost:3000
STAFF_FRONTEND_ORIGIN=http://localhost:3001
ESTIMATED_SERVICE_MINUTES=8
CONVERSATION_RETENTION_DAYS=90
